@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cabin", serif;
    color:  #646464;
    background-color: #ffeefa;
    font-weight: 400;
}

header{
    position: relative;
    background: linear-gradient(to right, #f0f8b4, #bc9cf4);
    padding: 100px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-gif {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: auto;
    z-index: 10;
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, #f0f8b4, #bc9cf4);
    padding: 30px 0;
}

nav a {
    margin: 0 30px;
    position: relative;
    text-decoration: none;
    color: #646464;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.418);
    transition: all 0.5s;
}

nav a:hover {
    color: #303030;
}

main {
    padding: 20px;
    text-align: center;
}
#frase-principal {
    color: #646464;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.274);
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.conteudos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}


.conteudos a {
    text-align: center;
    text-decoration: none;
    color: #8666bd;
    background-color: #bc9cf4;
    padding: 5px 8px;
    border-radius: 15px;
    transition: all 0.3s;
    font-weight: 400;
    white-space: nowrap;
}

.conteudos a:hover {
    color: #0D0D0D;
    background-color: #735d97;
}

.especies-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: 0 auto;

}
.cast-member {
    flex: 1 1 300px;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    background-color: #ebd2aa;
}


.cast-member img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s;
}

.cast-member img:hover {
    transform: scale(1.1);
}

.cast-member details {
    color: #735d97;
}


.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #bc9cf4;;
    color: #fff2e1;
    padding: 0.6rem;
}

td {
    background-color: #f0dab6;
    padding: 0.6rem;
}

td a {
    text-decoration: none;
    color: #bc9cf4;
    font-weight: 700;
}

td a:hover {
    color: #8666bd;
}

#topo {
    padding-top: 40px;
}

#topo a {
    color: #9f7fd8;
    text-decoration: none;
}

#topo a:hover {
    color: #8666bd;
}

footer {
    background: linear-gradient(to right, #f0f8b4, #bc9cf4);
    text-align: center;
    padding: 10px 0;
}

small {
    color: #646464;
}
@media (max-width: 600px) {
    figure img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}
