@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body{
    font-family: "Cabin", serif;
    color:#b96571;
    background-color:#edfaff;
}
header{
    background:linear-gradient(to right, #ffb8c2, #94c4d8) 
}
header img {
    width: 150px;
    height: auto;
}

main {

}
#frase-principal{
    color: #8f3e4a;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px #412529;
}
h1{
    color: #527886
    
}